:root {
	--miniWidth: 192px;
	--miniHeight: 108px;
	--headerPaddingV: 0.25em;
	--lessTextMaxHeight: 3em;
	--linkMarginBottom: 2em;
}

@media screen and (max-width: 1000px) {
	:root {
		--miniWidth: 144px;
		--miniHeight: 81px;
		--headerPaddingV: 0em;
		--lessTextMaxHeight: 1.5em;
		--linkMarginBottom: 1em;
	}
	
	body{
		-webkit-text-size-adjust: none;
	}
	
	.closeButton::after {
		font-weight: bold;
	}
}

.link {
	color: #0d6efd;
	cursor: pointer;
	text-decoration: none;
}
.link:hover {
	text-decoration: underline;
}

.button {
	background-color: transparent;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	cursor: pointer;
}

.closeButton {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3em;
	height: 3em;
	padding: 0.5rem;
	opacity: 1;
	border-radius: 3em;
	background: radial-gradient(circle, #fffffff0 30%, #ffffff80 100%);
}
.closeButton::after {
	content: '\002573';
	font-size: 0.8em;
	color: black;
}
.beforeCloseButton {
	margin-right: 4rem;
}