.title {
	font-size: var(--headerFontSize);
}

.header {
	grid-row: 1;
	align-self: center;
	
	& > div {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		padding: calc(var(--gap) * 4);
	}
	
	& > div > div:not(:first-child) {
		margin-left: calc(var(--gap) * 2);
	}
}