.floatRight {
	float: right;
	position: relative;
	user-select: none;
}

.menu{
	position: absolute;
	top: calc(var(--gap) * -2);
	left: 50%;
	transform: translateX(-50%);
	z-index: 3;
	padding: 3em 8em;
	background-color: white;
	border: var(--mainBorder);
	border-radius: var(--gap);
	cursor: auto;
	color: grey;
	user-select: none;
}
.menu:before{
	content: "Login:";
	display: block;
	text-align: center;
	font-size: 2em;
	color: var(--mainBorderColor);
}
.right {
	left: unset;
	right: 0;
	transform: none;
}

.passLine {
	padding-top: calc(var(--gap) * 6);
	display: flex;
	align-items: baseline;
}
.passWord {
	
}
.passWord:after{
	content: ":";
	padding-right: calc(var(--gap) * 2);
}
.input {
	padding: calc(var(--gap) * 2);
	border: var(--mainBorder);
	border-radius: var(--gap);
	appearance: none;
}

.passIsIncorrect{
	color: red;
	text-align: right;
	padding-right: calc(var(--gap) * 4);
}

.ask {
	padding-top: calc(var(--gap) * 8);
}
