.container {
	display: grid;
	grid-template-columns: var(--grid-template-columns);
	grid-template-rows: var(--grid-template-rows);
	justify-content: center;
	align-content: center;
	height: var(--100vh);
	width: 100vw;
}

.flag {
	grid-column: 3 / 3;
	grid-row: 1 / 6;
}