$gap: 0.25em;

.main {
	grid-row: 2;
	align-self: end;
	border: 1px solid greenyellow;
	border-top-left-radius: $gap;
	border-top-right-radius: $gap;
	border-bottom: none;
	padding: $gap * 2;
	padding-bottom: $gap * 4;
}
.left {
	display: flex;
	justify-content: flex-start;
	padding-bottom: $gap * 3;
	max-width: 20em;
	user-select: none;
}

.infoTable .infoTableDivider {
	height: $gap;
}
.infoTable td:first-child {
	color: grey;
	text-align: right;
	padding-right: $gap;
}
.infoTable td:first-child::after {
	content: ':';
}

.bold {
	color: rgba(0,0,0,0.75);
	font-weight: bold;
}

.restart {
	position: relative;
	display: inline-block;
}

$menuColor: greenyellow;
.menu {
	position: absolute;
	top: $gap * 5;
	left: -50%;
	padding: $gap * 2 0;
	margin: 0;
	background-color: #fff;
	color: #212529;
	border: 1px solid grey;
	box-shadow: 0 0 $gap / 2 0 $menuColor;
	border-radius: $gap;
	list-style: none;
	z-index: 2;
}
.menuItem {
	padding: $gap * 2 $gap * 15 $gap $gap * 5;
}
.menuItem:last-child:not(:first-child) {
	margin-top: $gap * 2;
	padding-top: $gap * 4;
	border-top: 1px solid $menuColor;
}
.menuItem:hover {
	background-color: $menuColor;
}