.main {
	margin-top: calc(var(--gap) / 2);
	padding: var(--gap);
	margin-bottom: var(--gap);
	border: 1px solid gold;
	border-radius: var(--gap);
	overflow: hidden;
	user-select: none;
}


.current {
	display: var(--info-current-display);
}

.bold {
	font-weight: bold;
}

.containers {
	display: inline;
}

.log {
	overflow: hidden;
}

.line {
	white-space: nowrap;
}

.date {
	display: inline-block;
	width: calc(var(--gap) * 13);
	text-align: right;
	padding-right: var(--gap);
}
.day {
	color: plum;
}
.second {
	color: darkorange;
}

.paddingR {
	padding-right: var(--gap);
}

.label {
	color: darkblue;
	padding-right: var(--gap);
}
.errors {
	color: red;
}
.data {
	color: grey;
}