.bottomBorder {
	display: var(--displayBlock);
	grid-row: 3 / 6;
	border-top: var(--mainBorder);
	border-bottom: var(--mainBorder);
	margin-bottom: calc(var(--gap) / 2);
}
.left {
	border-top-left-radius: var(--gap);
	border-bottom-left-radius: var(--gap);
	border-left: var(--mainBorder);
}
.right {
	border-top-right-radius: var(--gap);
	border-bottom-right-radius: var(--gap);
	border-right: var(--mainBorder);
}

.mbg {
	margin-bottom: var(--gap);
}

.current {
	border-top: none;
}

.leftCurrent {
	border-top-left-radius: 0;
}

.rightCurrent {
	border-top-right-radius: 0;
}